@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root {
  --material-red: #aa2e25;
  --email-red: #BB001B;
  --linkedin-blue: #0072b1;
}

/* Header */

#header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.header-name {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h3 span {
  color: var(--material-red);
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.list {
  list-style: none;
  display: flex;
}

.links a,
.links li {
  margin: 0 0.7rem;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
  transition: all 0.5s ease;
  text-decoration: none;
  color: black;
}

.links a:hover,
.links li:hover,
.burger-menu:hover {
  text-decoration: underline;
  color: var(--material-red);
}

svg {
  pointer-events: none;
}

ul {
  margin: 0;
  padding: 0;
}

#menu-container {
  display: none;
}

#slideout-menu {
  position: absolute;
  width: 180px;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  padding: 50px 30px 50px 50px;
  top: 0;
  left: 0;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

.hide-menu {
  transform: translate(-100%, 0);
}

#slideout-menu a {
  padding: 20px 10px;
  /* font-weight: bold; */
}

#slideout-menu a:hover {
  opacity: 0.7;
}

.body-overflow {
  overflow: hidden;
}

#close-slideout {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 20px;
  font-size: 22px;
  border: none;
  background-color: #F5F6FA;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

#close-slideout:hover {
  opacity: 0.7;
}


/* Intro */


.img-wrapper {
  margin-top: 3.5rem;
  position: relative;
  text-align: center;
}

.background-image {
  /* width: 100%; */
  width: 100vw;
  height: auto;
  /* background: linear-gradient(0deg, #000088 30%, #ffffff44 100%); */
  z-index: -1;
}

#intro-text {
  position: absolute;
  top: 8px;
  left: 25px;
  font-size: 40px;
  display: flex;
  text-shadow: 2px 2px #fff;
}

#social-btns {
  position: absolute;
  bottom: 8px;
  left: 16px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.social-btn {
  color: white;
  border: 1px solid white;
  padding: 0.65rem;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.5s ease-out;
}

.social-btn:hover {
  opacity: 0.8;
  /* background-color: white; */
}

#linkedin:hover {
  background-color: var(--linkedin-blue);
}

#github:hover {
  background-color: #000;
}

#email:hover {
  background-color: var(--email-red);
}

/* About Me */

#aboutme-container {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

#aboutme-container h2 {
  padding-top: 4rem;
  font-size: 2rem;
  margin: 0 auto;
  width: 70%;
}

#aboutme-container p {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0 5rem 0;
  max-width: 67%;
  font-size: 1rem;
}

/* Skills */

#skills-container {
  border: 1px solid black;
  margin: 15px;
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card */

.card {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-width: 200px;
  background-color: darkgrey;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.list-item {
  margin: 0.5rem 0;
}

.list-item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-image {
  width: 40px;
}

.card ul li {
  text-align: center;
  font-weight: bold;
}

/* Projects */

.project-btn {
  padding: 15px;
  border-radius: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border: 2px solid var(--material-red);
  color: var(--material-red);
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.project-btn:hover {

  border: 2px solid #fff;
  color: #fff;
  background-color: var(--material-red);
}


/* Scroll */


.showBtn {
  opacity: 1;

  transform: translateY(0)
}

.scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* transform: translateY(100px); */
  opacity: 0;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
  background-color: var(--material-red);
  color: white;
}

/* Portfolio */

#projects-container {
  display: flex;
  flex-direction: column;
}

#projects-card-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 1rem; */
  flex-wrap: wrap;
}

.project-card, .card {
  width: 350px;
  margin: 2rem 1rem 0 1rem;
  min-width: 350px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* border-radius: 5px; */
  padding: 15px;
  background-color: #fff;
}

.project-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.project-card-desc h3 {
  font-size: 25px;
  margin: 0;
}

.project-card-desc p {
  font-size: 12px;
  font-style: italic;
  width: 80%;
  text-align: center;
}

.portfolio-img {
  width: 350px;
}

/* Contact Me */

#contact-container {
  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center; */
}

#contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

#contact-me li {
  margin: 0px 0.4rem
}

#contact-me li:hover {
  color: var(--material-red);
}

@media (max-width: 830px) {
  .row {
    justify-content: center;
  }
}


@media (max-width: 750px) {
  .header-name > h3 > span {display: none }
}

@media screen and (max-width: 600px) {
  .links { display: none }
  .burger-menu { display: flex }
  #intro-text { font-size: 25px }
  #social-btns { width: 120px }
  .social-btn {
    font-size: 18px;
    padding: 0.5rem;
  }
  #menu-container {
    display: flex;
  }
  .row {
    justify-content: center;
  }
}